:root {
    --color-212529: #212529;
    --color-ffd333: #ffd333;
    --color-47ad24: #47ad24;
    --color-e52e2e: #e52e2e;
    --color-828599: #828599;
}

.green {
    color: green;
}

.red {
    color: red;
}

.quill {
    background-color: white;
}